   * {
    box-sizing: border-box
   }
   /* убираем границу */
    body {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: white;
    }
    /* растягиваем canvas на всю область просмотра */
    canvas {
      width: 100vw;
      height: 100vh;
      display: block;
    }
    /* #app {
      width: 100%;
      height: 100%;
    } */